@import url('https://fonts.googleapis.com/css2?family=Kanit:ital,wght@0,200;0,300;0,400;0,500;0,600;0,700;1,200&display=swap');

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-size: 20px;
  font-family: "Kanit", sans-serif;
  transition: all 0.2s ease-in-out;
}

body {
  background: #ebe8e8;
  overflow-x: hidden;
}
.flex {
  display: flex;
  flex-wrap: wrap
}

.highlight {
  color: tomato;
}

.hint * , .sample, .sample *,.inline-hint *{
  font-size: 16px;
  /* font-family: initial; */
}

.sample {
  position: relative;
  margin: 1rem;
  align-self: center;
}

.sample:before {
  position: absolute;
  top: -5%;
  left: -5%;
  content: "Example: ";
}

.sample:after {
  content: "Click to show solution";
  color: rgb(10, 141, 141);
}

.sample .hints {
  /* padding: 1rem; */
  position: absolute;
  top: 100%;
  left: 0;
  z-index: 1;
  background: white;
  border-radius: 5%;
}

.sample .hint {
  display: none;
}

.sample .hint.showed {
  margin: 1rem;
  display: block;
}

.container {
  max-width: 1200px;
  margin: 2rem auto;
}

.btn {
  box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
}

.btn:hover {
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}

header {
  margin: 3rem 0;
  display: flex;
  justify-content: center;
  font-size: 1.5rem;
  height: 100vh;
}

header > div {
  height: auto;
  width: 30%;
  align-items: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding-right: 1rem;
  border-right: #ccc 0.2px solid;
}


header h1 {
  font-size: 3rem;
}

header p {
  text-align: right;
  font-family:cursive;
}

#menu {
  flex-direction: column;
  align-items: center;
  justify-content: center;
  flex-wrap: nowrap;
}

#menu h3 {
  text-align: center;
  font-size: 2rem;
  margin-bottom: 1rem;
}

#menu ul {
  justify-content: space-evenly;
  align-items: center;
}

#menu ul li {
  width: 40%;
  padding: 1rem;
  list-style: none;
  text-align: center;
  margin: .5rem;
}

#blogs {
  position: absolute;
  top: 0;
  right: 0;
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  margin: 0 0 0 auto;
  width: 800px;
}

section, #menu {
  transform: translateX(150%);
}

section.current {
  transform: translateX(0)!important;
}

#blogs > section {
  width: 100%;
  padding: 1rem 2rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  position: absolute;
}

#blogs > section > .back-btn {
  position: absolute;
  padding: 0.3rem 1rem;
  border-radius: 5px;
  top: 2rem;
  left: 2rem;
}

#blogs > section > ul, #blogs > section > div:not(.sample) {
  align-self: flex-start;
}

#blogs > section h2 {
  margin: 2rem 0;
  font-size: 1.4rem;
}
#blogs > section h4 {
  margin: 2rem 1rem;
}

#blogs ul li {
  padding: 0.3rem;
}