* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Sukhumvit Set", "Thai Sans Neue", sans-serif;
}

body {
  background: linear-gradient(
    180deg,
    rgba(39, 41, 47, 1) 0%,
    rgba(3, 82, 117, 1) 100%
  );
  background-attachment: fixed;
}

.gothic-b {
  font-family: "Letter Gothic Std", "Sukhumvit Set", sans-serif;
  font-size: 72px;
}
